@font-face {
    font-family: 'mc-title';
    src: url('../font/minecraft-title.ttf');
}

@font-face {
    font-family: 'mc-regular';
    src: url('../font/minecraft-regular.otf');
}

@font-face {
    font-family: 'mc-italic';
    src: url('../font/minecraft-italic.otf');
}

@font-face {
    font-family: 'mc-bold';
    src: url('../font/minecraft-bold.otf');
}

@font-face {
    font-family: 'mc-bold-italic';
    src: url('../font/minecraft-bold-italic.otf');
}

body {
    background: linear-gradient(150deg, #000000 0%, #1e102e 100%) no-repeat fixed;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.logo-container {
    justify-content: center;
    padding: 10px;
    max-width: 45em;
    
    h1 {
        font-family: 'mc-title';
        font-size: 6em;
        color: #FFF;
        text-shadow: #999 0 0.1em 0;
    }
    
    p {
        font-family: 'mc-regular';
        font-size: 2em;
        color: #FFF;
    }
}

.skin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#skinUploader {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-color: #FFF3;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px dashed #FFF5;
    border-radius: 10px;
    margin: 100px 0 40px 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

#skinUploader:hover {
    background-color: #FFF1;
}

#skinUploader label {
    color: #FFF7;
    align-content: center;
    height: 100%;
    width: 100%;
}

#skinUploader input[type="file"] {
    height: 0;
    display: none;
}

#skinUploaderLabel {
    font-family: 'mc-italic';
    font-size: 1em;
    color: #FFF;
}

#downloadButton {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 2.5em;
    font-family: "mc-bold";
    font-size: 1.25em;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #CCC;
}

#downloadButton:hover {
    background-color: #CCC;
    color: #222;
}