@font-face {
    font-family: 'mc-title';
    src: url('../font/minecraft-title.ttf');
}

@font-face {
    font-family: 'mc-regular';
    src: url('../font/minecraft-regular.otf');
}

@font-face {
    font-family: 'mc-italic';
    src: url('../font/minecraft-italic.otf');
}

@font-face {
    font-family: 'mc-bold';
    src: url('../font/minecraft-bold.otf');
}

@font-face {
    font-family: 'mc-bold-italic';
    src: url('../font/minecraft-bold-italic.otf');
}

body {
    background: linear-gradient(150deg, #000000 0%, #1e102e 50%, #2d1069 100%) no-repeat fixed;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.logo-container {
    justify-content: center;
    padding: 10px;
    max-width: 45em;
    
    h1 {
        font-family: 'mc-title';
        font-size: 6em;
        color: white;
        text-shadow: #999999 0 0.1em 0;
    }
    
    p {
        font-family: 'mc-regular';
        font-size: 2em;
        color: white;
        max-width: 20em;
    }
}

.skin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#skinUploader {
    width: 360px;
    height: 360px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff22;
    border: 2px dashed #ffffff44;
    border-radius: 10px;
    margin: 100px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.1s ease;
}

#skinUploader:hover {
    background-color: #ffffff07;
}

#skinUploader.skinPreview {
    background-color: #cccccc;
    border: 2px solid #777777;
}

#skinUploader.skinPreview:hover {
    background-color: #ffffff07;
    border: 2px dashed #ffffff44;
}

#skinUploader input[type="file"] {
    height: 0;
    display: none;
}

#skinUploaderLabel {
    box-sizing: border-box;
    font-family: 'mc-italic';
    font-size: 1em;
    color: #ffffff77;
    padding: 1em;
    height: 100%;
    width: 100%;
    align-content: center;
    cursor: pointer;
}

.skinPreview #skinUploaderLabel {
    align-content:flex-end;
    color: transparent;
}

.skinPreview:hover #skinUploaderLabel {
    color: #ffffff77;
}

#downloadButton {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 2.5em;
    font-family: "mc-bold";
    font-size: 1.25em;
    border: none;
    border-radius: 10px;
    background-color: #cccccc;
    color: #1e102e;
    transition: 0.1s;
    cursor: pointer;
}

#downloadButton:hover {
    transform: scale(1.05);
}