body {
    background-color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skin-upload {
    width: 500px;
    height: 400px;
    border: 2px dashed #FFF5;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: #FFF3;
}

.skin-upload:hover {
    background-color: #FFF1;
}

.skin-upload label {
    color: #FFF7;
    align-content: center;
    height: 100%;
    width: 100%;
}

.skin-upload input[type="file"] {
    display: none;
}

#downloadButton {
    padding: 10px;
    border: none;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #CCC;
}

#downloadButton:hover {
    background-color: #CCC;
    color: #222;
}